<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunch</title>
    <link rel="stylesheet" href="styles/items.css">
</head>
<body>

    <header class="menu-header">
        <%- include('includes/header') %>
    </header>

    <main class="main">
        
        <div class="special">
            <h1>Lunch Special</h1>
            <p>Mon-Sat: 11:00AM - 3:00PM</p>
            <p>Sunday No Lunch</p>
            <p>(Most Entrees comes w. Fried Rice & Can Soda or Egg Roll)</p>    
        </div>

        <div class="container">
            <div class= 'container_flex'>

                <div class="border_style">
                    <h1> Lunch Special: Non-Spicy</h1>
                    <ol>
                        <li> Boneless Spare Rib</li>
                        <li> Bourbon Chicken</li>
                        <li> Crispy Honey Chicken</li>
                        <li> Chicken, Pork or Shrimp Chow Mein</li>
                        <li> Chicke w. Chinese Vegetables</li>
                        <li> Pork w. Chinese Vegtables</li>
                        <li> Moo Goo Gai Pan</li>
                        <li> Pepper Steak w. Onion</li>
                        <li> Pepper Chicken w. Onion</li>
                        <li> Egg Foo Young(Chicken, Shrimp, Pork, or Beef)</li>
                        <li> Sesame Chicken</li>
                        <li> Sweet & Sour Chicken</li>
                        <li> Sweet & Sour Tofu</li>
                        <li> Shrimp, Beef, Chicken, or Pork Brocoli</li>
                        <li> Triple Delight</li>
                        <li> Fried Rice (Chicken, Shrimp, Pork, or Beef)</li>
                        <li> Lo Mein (Chicken, Shrimp, Pork, or Beef)</li>
                        <li> Rice Noodle (Chicken, Shrimp, Pork, or Beef)</li>
                        <li> Shrimp Lobster Sauce</li>
            
                    </ol>  

                </div>  
    
            </div>
    
            <div class= 'container_spicy'>

                <div class="border_style">
                    <div class="icon_flex">
                        <h1>Lunch Special: Spicy </h1>
                        <svg class='icon'xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <ol>
                        <li> Kung Po Chicken</li>
                        <li> Curry Chicken w. Onion</li>
                        <li> Crispy Chicken</li>
                        <li> Brocoli w. Garlic Sauce</li>
                        <li> Vegetable w. Garlic Sauce</li>
                        <li> String Bean w. Garlic Sauce</li>
                        <li> Hunan Style (Chicken, Shrimp, Pork, or Beef)</li>
                        <li> Szechuan Style (Chicken, Shrimp, Pork, or Beef)</li>
                        <li> General Tso's Chicken</li>
                        <li> General Tso's Fish</li>
                        <li> Orange Chicken</li>
                        <li> Bean Curd w. Garlic Sauce</li>
                        <li> Bean Curd w. Szechuan Sauce</li>
                    </ol>  
                </div>  
    
            </div>

        </div>

        <div class="container_temp">

            <div class="border_style">
                <h1> Lunch Special: Fried Food with French Fries</h1>
                <ol>
                    <li> Jumbo Fried Shrimp w. French Fries</li>
                    <li> Chicken Gizzard w. French Fries</li>
                    <li> Chicken Nugget w. French Fries</li>
                    <li> Spicy Buffalo Wings w. French Fries</li>
                </ol>
    
            </div>

        </div>

        <div id="combo_plat" class="container_temp">
            <div class="border_style">
                <h1> Combination Platter</h1>
                <p>All Orders Comes w. Egg Roll & Fried Rice</p>
                <ol >
                    <li> Beef, Shrimp, Chicken, or Pork Brocoli</li>
                    <li> Beef, Shrimp, Chicken, or Pork Chow Mein</li>
                    <li> Beef, Shrimp, Chicken, or Pork Egg Foo Young</li>
                    <li> Beef, Shrimp, Chicken, or Pork Lo mein</li>
                    <li> Beef, Shrimp, Chicken, or Pork Chow Mein</li>
                    <li> Beef, Shrimp, Chicken, or Pork String Beans</li>
                    <li> Beef or Chicken w. Chinese Vegetables</li>
                    <li> Pepper Steak w. Onion</li>
                    <li> General Tso Chicken</li>
                    <li> Bourbon Chicken</li>
                    <li> Hunan Beef or Chicken </li>
                    <li> Bar-B-Q Spare Rib</li>
                    <li> Shrimp w. Lobster Sauce</li>
                    <li> Moo Goo Gai Pan</li>
                    <li> Boneless Spare Ribs</li>
    
                </ol>
            </div>
        </div>

        <h1>Meat Dishes</h1>

        <div class="container">
            <div id="seafood" class = 'container_flex'>
                <div class="border_style">
                    <h1 >Seafood</h1>
                    <p> (w.white rice)</p>
                    <ol>
                        <li> Shrimp w. Lobster Sauce</li>
                        <li> Shrimp w. Brocoli</li>
                        <li> Shrimp w. Mix Vegtables</li>
                        <li> Shrimp w. Snow Peas</li>
                        <li> Shrimp w Cashew Nuts</li>
                        <li> Shrimp w. Mix Vegtables</li>
                        <li> Curry Shrimp w. Onion</li>
                        <li> Kung Pao Shrimp</li>
                        <li> Hunan Shrimp</li>
                        <li> Szechuan Shrimp</li>
                        <li> Shrimp w. Garlic Sauce</li>
                        <li> Shrimp w. String Bean Szechuan Style</li>
                        <li> Crispy Honey Shrimp </li>
                        <li> Scallop w. Mixed Vegatbles</li>
                        <li> Shrimp w. Black Bean Sauce</li>
                    </ol>
                </div>
            </div>
    
            <div id="chicken" class = 'container_flex'>
                <div class="border_style">
                    <h1>Chicken</h1>
                    <p> (w.white rice)</p>
                    <ol>
                        <li> Chicken w. Brocoli</li>
                        <li> Chicken w. Mix Vegtables</li>
                        <li> Chicken w. Snow Peas</li>
                        <li> Chicken w Cashew Nuts</li>
                        <li> Curry Chicken w. Onion</li>
                        <li> Kung Pao Chicken</li>
                        <li> Hunan Chicken</li>
                        <li> Szechuan Chicken</li>
                        <li> Chicken w. Garlic Sauce</li>
                        <li> Chicken w. String Bean Szechuan Style</li>
                        <li> Crispy Honey Chicken </li>
                        <li> Chicken w. Black Bean Sauce</li>
                    </ol>
                </div>
            </div>
    
        </div>

        <div class="container">

            <div id="pork" class = 'container_flex'>
    
                <div class="border_style">
                    <h1>Pork</h1>
                    <p> (w.white rice)</p>
                    <ol>
                        <li> Pork w. Brocoli</li>
                        <li> Pork w. Mix Vegtables</li>
                        <li> Pork w. Snow Peas</li>
                        <li> Hunan Pork</li>
                        <li> Szechuan Pork</li>
                        <li> Double Cook Pork</li>
                        <li> Pork w. String Bean</li>
                    </ol>
                </div>
            </div>
            <div id="beef" class = 'container_flex'>
                
                <div class="border_style">
                    <h1 >Beef</h1>
                    <p> (w.white rice)</p>
                    <ol>
                        <li> Beef w. Brocoli</li>
                        <li> Beef w. Mix Vegtables</li>
                        <li> Beef w. Snow Peas</li>
                        <li> Beef w Cashew Nuts</li>
                        <li> Curry Beef w. Onion</li>
                        <li> Kung Pao Beef</li>
                        <li> Hunan Beef</li>
                        <li> Szechuan Beef</li>
                        <li> Beef w. String Bean Szechuan Style</li>
                        <li> Mongolian Beef</li>
                        <li> Beef w Oyster Sauce</li>
                        <li> Beef w. Mushrooms</li>
                        <li> Beef w Tomato Pepper</li>
                        <li> Pepper Steak w. Onion</li> 
                    </ol>
                </div>
        </div>
        
        </div>

        <div id='chief' class="container_temp">
            <div class="border_style">
                <h1>Chief Specialty</h1>
                <p> (w.white rice)</p>
                <ol>
                    <li> Shrimp & Chicken w. Mix Vegtables</li>
                    <li> Orange Chicken</li>
                    <li> General Tso Chicken</li>
                    <li> Sesame Chicken</li>
                    <li> Orange Shrimp</li>
                    <li> Sesame Beef</li>
                    <li> General Tso Fish</li>
                    <li> General Tso Shrimp</li>
                    <li> Triple Delight</li>
                    <li> Happy Family</li>
                    <li> Four Seasons</li>
                    <li> Hunan Triple</li>
                    <li> Szechuan Triple</li>
                    <li> Seafood Combination</li>
                    <li> SBS COMBO</li>
                    <li> Kung Po Delight</li>
                    <li> Kung Po Shrimp & Chicken</li>
                    <li> Shrimp & Chicken w. Garlic Sauce</li>
                    <li> Shrimp & CHicken w. Cashew Nuts</li>
                    <li> Crunchy Crispy Beef or Chicken</li>
                    <li> Beef w. Scallop</li>
                    <li> Mongolian Delight</li>
                    <li> Dragon and Phoenix</li>
                    <li> Combination Brocoli</li>
                    <li> House General Tso Chciken </li>
                    <li> Bourbon Chicken</li>
                </ol>
            </div>
        </div>

        <div id="rice" class="container_temp">
            <div class="border_style">
                <h1>Fried Rice or Lo Mein</h1>
                <ol>
                    <li> Plain</li>
                    <li> Vegetables</li>
                    <li> Chicken or Pork</li>
                    <li> Shrimp or Beef</li>
                    <li> Combination</li>
                    <li> Crabmeat</li>
                    <li> Lobster</li>
                    <li> Seafood</li>
                </ol>
            </div>
        </div>

        <div id='eggFY'class="container_temp">
            <div class="border_style">
                <h1>Egg Foo Young</h1>
                <p> (w.white rice)</p>
                <ol>
                    <li> Mushroom</li>
                    <li> Vegtables</li>
                    <li> Shrimp, Chicken, Pork, Beef</li>
                    <li> Combination</li>
                    <li> Seafood</li>
                    <li> Lobster</li>
                </ol>
            </div>
        </div>

        <div id='chow_mein'class="container_temp">
            <div class="border_style">
                <h1> Chow Mein or Chop Suey</h1>
                <p> (w.white rice or Crispy Noodle)</p>

                <ol>
                    <li> Beef, Shrimp, Pork, or Chicken</li>
                    <li> Vegtables</li>
                    <li> Combination</li>
                </ol>
            </div>
        </div>

        <div id='soup' class="container_temp">
            <div class="border_style">
                <h1> Soup </h1>
                <ol>
                    <li> Wonton Soup</li>
                    <li> Egg Drop Soup</li>
                    <li> Wonton Eggdrop Soup</li>
                    <li> Chicken Noodle or Chicken Rice Soup</li>
                    <li> Chciken Corn Soup</li>
                    <li> Vegtables Soup</li>
                    <li> Hot & Sour Soup</li>
                    <li> Vegtables Bean Curd Soup</li>
                    <li> House Special Soup</li>
                    <li> Seafood Soup</li>
                </ol>
            </div>
        </div>

        <h1 >Noodles</h1>

        <div class="container">
            <div id="chow_fun" class="container_flex">
                <div class="border_style">
                    <h1> Chow Fun Or Rice Noodle</h1>
                    <ol>
                        <li> Vegetables</li>
                        <li> Pork, Chicken, Shrimp, or Beef</li>
                        <li> Combination </li>
                        <li> Seafood</li>
                        <li> Singapore</li>
                    </ol>
                </div>
            </div>
    
            <div id="pan_fried" class="container_flex">
                <div class="border_style">
                    <h1>Pan Fried Noodles</h1>
                    <ol>
                        <li> Vegetables</li>
                        <li> House</li>
                        <li> Seafood</li>
                        <li> Pork, Chicken, Shrimp, or Beef</li>
                    </ol>
                </div>
            </div>
        </div>

        <div id="vegetables" class="container_temp">
            <div class="border_style">
                <h1> Vegatables</h1>
                <p> (w.white rice)</p>
                <ol>
                    <li> Mixed Vegetable w. Brown Sauce</li>
                    <li> Mixed Vegetable w. Szechuan Sauce</li>
                    <li> Mixed Vegetable w. Hunan Sauce</li>
                    <li> Mixed Vegetable w. Garlice Sauce</li>
                    <li> String Bean w. Szechuan or Hunan Sauce</li>
                    <li> Eggplant w. Garlic Saucne</li>
                    <li> Brocoli w. Garlic Sauce</li>
                    <li> Brocoli w. Brown Sauce</li>
                </ol>
            </div>
        </div>
        
        <div id="tofu" class="container_temp">

            <div class="border_style">
                <h1>Fried Tofu</h1>
                <p> (w.white rice)</p>
                <ol>
                    <li> Tofu w. Brocoli</li>
                    <li> Tofu w. Mix Vegtables</li>
                    <li> Tofu w. Snow Peas</li>
                    <li> Tofu w. Curry</li>
                    <li> Kung Pao Tofu</li>
                    <li> Hunan Tofu</li>
                    <li> Szechuan Tofu</li>
                    <li> Tofu w. Garlic Sauce</li>
                    <li> Tofu w. Black Bean Sauce</li>
                    <li> Sesame Tofu</li>
                    <li> General Tso Tofu</li>
                </ol>
            </div>
        </div>

        <div id="diet" class="container_temp">
            <div class="border_style">
                <h1> Diet Menu</h1>
                <p> (w.white rice)</p>
                <ol> 
                    <li> Steam Shrimp or Chicken w. Brocoli</li>
                    <li> Steam Shrimp & Chicken w. Mix Vegatables</li>
                    <li> Steam Chicken w. Mix Vegatables</li>
                    <li> Steam Mix Vegtables</li>
                    <li> Steam Tofu w. Mix Vegatables</li>
                </ol>
            </div>
        </div>
        <h1 id="submarine">Submarine</h1>

        <div class="container">
            <div class="container_flex">
                <div class="border_style">
                    <h1 >Hot-Submarine</h1>
                    <ol>
                        <li> Steak & Cheese</li>
                        <li> Chicken Cheese</li>
                        <li> Ham, Egg & Cheese</li>
                        <li> Fillet Fish & Cheese</li>
                        <li> Cheeses Burger</li>
                        <li> Fillet Chicken</li>
                        <li> Gyros</li>
                        <li> BLT</li>
                        <li> Jumbo Cheese Burger</li>
                        <li> Jumbo Fish Cheese</li>
                        <li> Double Cheese Burger</li>
                    </ol>
                </div>
            </div>
    
            <div class="container_flex">
                <div class="border_style">
                    <h1>Cold-Submarine</h1>
                    <ol>
                        <li> Philadelphia Hoagie</li>
                        <li> Ham & Cheese</li>
                        <li> Tuna Fish</li>
                        <li> Turkey Breast</li>
                    </ol>
                </div>
            </div>

        </div>
    

        <div id="appetizer" class="container_temp">

            <div class="border_style">
                <h1> Appetizers</h1>
                <ol>
                    <li> Spring Roll</li>
                    <li> Shrimp Egg Roll</li>
                    <li> BBQ Pork</li>
                    <li> Boneless Spare Ribs</li>
                    <li> BBQ Spare Ribs</li>
                    <li> Spare Rib Tips</li>
                    <li> Crabmeat Rangoon</li>
                    <li> Fried Wonton</li>
                    <li> Chicken Gizzard</li>
                    <li> Shrimp Toast</li>
                    <li> Fried or Steamed Meat Dumplings</li>
                    <li> Vegetable Dumplings</li>
                    <li> Cold Noodle w. Sesame Sauce</li>
                    <li> Chciken Teriyaki</li>
                    <li> Chicken Tender</li>
                    <li> Friend Bean Curd</li>
                    <li> Pu Pu Plater</li>
                </ol>
            </div>
        </div>

        <div id="side_ord" class="container_temp">
            <div class="border_style">
                <h1> Side Orders</h1>
                <ol>
                    <li> Seasoned Fries</li>
                    <li> French Fries</li>
                    <li> Onion Rings</li>
                    <li> Fried Noodle</li>
                    <li> Mozzarella Cheese Stick</li>
                    <li> Steak & Cheese Egg Roll</li>
                    <li> White Rice</li>
                    <li> Pop Corn Chicken</li>
                </ol>
            </div>
        </div>

        <div id="dessert" class="container_temp">
            <div class="border_style">
                <h1> Dessert</h1>
                <ol>
                    <li> Donut</li>
                    <li> Cheese Cake</li>
                    <li> Honey Bun</li>
                </ol>
            </div>
        </div>
    
    </main>
    
</body>
</html>