<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header class="menu-header">
        <%- include('includes/header') %>
    </header>

    <main class="main_menu">

        <h1> Meal Combos</h1>

        <div class="category">
            <a href="items">
                <div class="category_items">
                    <h2>Lunch Special</h2>
                    <p>(w. Fried Rice & Can Soda or Egg Roll)</p>
                    <p> Sunday's Only 11:30AM-3:00PM</p>

                </div>
            </a>
            <a href="items#combo_plat">
                <div class="category_items">
                    <h2>Combination Platter</h2>
                    <p>(w. Fried Rice & Egg Roll)</p>
                    <p>All Day - Everyday</p>

                </div>
            </a>
        </div>

        <h1> Meat Entrees</h1>

        <div class="category">

            <div class="category_items">
                
                <a href="/items#seafood">
                    <img class='food_images' src="/images/shrimp.jpeg" alt="shrimp">
                    <div>
                        <h2>Seafood</h2>
                        <p> (w. white rice)</p>
                    </div>
                </a>

            </div>

            <div class="category_items">
                
                <a href="/items#chicken">
                    <img class='food_images' src="/images/chicken.PNG" alt="chicken">
                    <div>
                        <h2>Chicken</h2>
                        <p> (w. white rice)</p>
                    </div>
                </a>

            </div>


            <div class="category_items">
                
                <a href="/items#beef">
                    <img class='food_images' src="/images/cow.jpeg" alt="cow">
                    <div>
                        <h2>Beef</h2>
                        <p> (w. white rice)</p>
                    </div>
                </a>

            </div>

            <div class="category_items">
                
                <a href="/items#pork">
                    <img class='food_images' src="/images/pig.png" alt="pig">
                    <div>
                        <h2>Pork</h2>
                        <p> (w. white rice)</p>
                    </div>
                </a>

            </div>
            </a>
        </div>

        <h1> Dinner Entrees</h1>

        <div class="category">
            <a href="items#chief">
                <div class="category_items">
                    <h2> Chef Specialty</h2>
                    <p> (w. white rice)</p>
                </div>
            </a>

        </div>

        <h1>Cuisines</h1>
        <div class="category">
            <a href="items#rice">
                <div class="category_items">
                    <h2> Fried Rice Or Lo Mein</h2>
                </div>
            </a>
            <a href="items#eggFY">
                <div class="category_items">
                    <h2> Egg Foo Young</h2>
                    <p>(w. white rice)</p>
                </div>
            </a>
            <a href="items#chow_mein">
                <div class="category_items">
                    <h2> Chow Mein Or Chop Suey</h2>
                </div>
            </a>
            <a href="items#soup">
                <div class="category_items">
                    <h2> Soup</h2>
                </div>
            </a>

        </div>

        <h1> Noodles</h1>

        <div class="category">
            <a href="items#chow_fun">
                <div class="category_items">
                    <h2> Chow Fun Rice Noodle</h2>
                </div>
            </a>
            <a href="items#pan_fried">
                <div class="category_items">
                    <h2> Pan Fried Noodles</h2>
                </div>
            </a>
        </div>

        <h1> Vegan</h1>

        <div class="category">
            <a href="items#vegetables">
                <div class="category_items">
                    <h2> Vegetables</h2>
                    <p>(w. white rice)</p>

                </div>
            </a>
            <a href="items#tofu">
                <div class="category_items">
                    <h2> Fried Tofu Dishes</h2>
                    <p>(w. white rice)</p>
                </div>
            </a>
        </div>

        <h1>Diet Menu</h1>

        <div class="category">
            <a href="items#diet">
                <div class="category_items">
                    <h2> Steamed</h2>
                    <p>(w. white rice) No Oil, No Sauce and Low Fat </p>
                </div>
            </a>

        </div>

        <h1>Others</h1>

        <div class="category">

            <a href="items#submarine">
                <div class="category_items">
                    <h2> Submarine</h2>
                    <p> Sandwiches and 6-inches and 12-inches </p>
                </div>
            </a>

            <a href="items#appetizer">
                <div class="category_items">
                    <h2> Appetizers</h2>
                    <p> A small dish of food </p>
                </div>
            </a>

            <a href="items#side_ord">
                <div class="category_items">
                    <h2> Side Orders</h2>
                </div>
            </a>

            <a href="items#dessert">
                <div class="category_items">
                    <h2>Desserts</h2>
                </div>
            </a>

        </div>

        <h1>Recommendations</h1>

        <div class="category">
            <div class="category_items">
                <a href="cusRecom">Customer Recommendations</a>
            </div>
            <div class="category_items">
                <a href="">Resturant Recommendations</a>
            </div>
        </div>

    </main>
    
</body>
</html>